asgiref==3.7.2
astroid==2.15.8
black==22.1.0
blue==0.9.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dj-database-url==2.1.0
Django==4.2.8
django-filter==23.5
djangorestframework==3.14.0
drf-yasg==1.21.7
flake8==4.0.1
flake8-django==1.4
gunicorn==21.2.0
idna==3.6
inflection==0.5.1
isort==5.13.2
lazy-object-proxy==1.10.0
Markdown==3.5.1
mccabe==0.6.1
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
psycopg2==2.9.9
pycodestyle==2.8.0
pyflakes==2.4.0
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.4
uritemplate==4.1.1
urllib3==2.1.0
validate-docbr==1.10.0
whitenoise==6.6.0
wrapt==1.16.0
